page-order-confirmation {

    ion-card-header {
        border-bottom: 1px solid rgb(215, 215, 215);
        
        background: #CA693D;
    
        
    }

    .card h2 {
        
        color: #fff;
    }
    

    .backG{
        background-color: #E8DDC4;
    }

    .card {
        
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
        
    }
}
